  <article class="card mb-2 mt-2">
    <div class="card-boddy container">
        <p><b>Producto:</b> {{cotizacion.name}}</p>
        <p><b>Cantidad:</b> {{cotizacion.cantidad}}</p>
        <p><b>total:</b> {{cotizacion.total}}</p>
        <button class="delete" id="{{cotizacion.name}}">Eliminar</button>      
    </div> 
</article>

{{!-- (Para las fotos, Hacer un forish a producto, dentro del forish preguntar si nombre == cotizacion.name, agregar un pe con la foto si es que es igual --}}