<div class="card mt-3 container" style="width: 15rem;">
  <img src="{{productos.Foto}}" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{productos.nombre}}</h5>
    <p class="card-text">Precio: {{productos.precio}}</p>
    <a href="#" class="btn btn-primary">APRIETA ME</a> 
  </div>
</div>