<Footer id="Footer" class="text-center text-light bg-dark mt-5"> 
      <div class="row m-auto container_footer"> 
          <div class="col-12 col-sm-6">
            <h2 data-toggle="modal" data-target="#exampleModal" class="boldWeight viajeschile">Ñomi Kombuchas</h2>
            <hr class="bg-light d-block d-sm-none"/>
          </div>
        
        <div class="container col-12 col-sm-6 mt-4 mt-sm-0 text-center">
        
        <i class="fab fa-instagram fa-3x mx-2 btn btn-outline-light border-0" id="instagram"></i>
        <i class="fab fa-whatsapp fa-3x mx-2 btn btn-outline-light border-0" id="whatsapp"></i>
       </div>

    </div>   
    </Footer>